<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title th:text="#{anchorBill.detail}"></title>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/plugin.css" rel="stylesheet"/>
    <link href="css/swiper.min.css" rel="stylesheet"/>
    <link href="css/profit.css" rel="stylesheet"/>
    <link href="img/icon.png" rel="icon" type="image/x-icon"/>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/json2.js"></script>
    <script type="text/javascript" src="js/loading.js"></script>
    <script type="text/javascript" src="js/layer.js"></script><link href="css/layer.css" type="text/css" rel="styleSheet" id="layermcss"/>
    <script type="text/javascript" src="js/emoji.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/popodataime.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <style type="text/css">
    div.item{padding: .1rem 0;font-size: .12rem;border-bottom: solid 1px #e5e5e5;width: 100%;}
    label{width:150px;display: inline-block;}
    input,select{display: inline-block;margin-left: .05rem;padding: 0 .1rem;color: #7a1128;border: solid 1px #7a1128;
    	border-radius: 5px;height: .23rem;line-height: .23rem;font-size: .12rem;}
    </style>
</head>
<body>
<div class="content homepage">
    <header>
        <a th:attr="href='anchorsBill?anchorId='+${anchorBill.anchorId}+'&amp;anchorName='+${anchorBill.anchorName}" class="left"><i class="fa fa-chevron-left"></i></a>
        <div class="top-tit"><label th:text="#{anchorBill.detail}"/></div>
    </header>
    <div class="tb-box">
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="swiper-slide swiper-slide-active" style="width: 640px;">
                <form th:action="@{${operType} == 'add' ? 'addAnchorBill' : 'updateAnchorBill'}" th:object="${anchorBill}" method="POST" onsubmit="return checkAnchorBill();">
                    <div class="item">
                        <label th:text="#{anchorBill.anchorId}"></label>
                        <span class="detail">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="text" th:field="*{anchorId}" readonly="readonly"/>
                            <span th:if="${#fields.hasErrors('anchorId')}" th:errors="*{anchorId}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{anchorBill.anchorName}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{anchorName}" readonly="readonly"/>
                            <span th:if="${#fields.hasErrors('anchorName')}" th:errors="*{anchorName}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{anchorBill.anchorType}"></label>
                        <span class="detail">
                        	<select th:field="*{anchorType}" disabled="disabled">
                            	<option value="live"><span th:text="#{anchor.type.live}"></span></option>
                            	<option value="pusher"><span th:text="#{anchor.type.pusher}"></span></option>
                            	<option value="catcher"><span th:text="#{anchor.type.catcher}"></span></option>
                            </select>
                            <span th:if="${#fields.hasErrors('anchorType')}" th:errors="*{anchorType}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{anchorBill.billType}"></label>
                        <span class="detail">
                        	<select th:field="*{billType}" disabled="disabled">
                            	<option value="enter"><span th:text="#{anchorBill.type.enter}"></span></option>
                            	<option value="gift"><span th:text="#{anchorBill.type.gift}"></span></option>
                            </select>
                            <span th:if="${#fields.hasErrors('billType')}" th:errors="*{billType}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{anchorBill.roomId}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{roomId}" readonly="readonly"/>
                            <span th:if="${#fields.hasErrors('roomId')}" th:errors="*{roomId}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{common.channel}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{channel}" readonly="readonly"/>
                            <span th:if="${#fields.hasErrors('channel')}" th:errors="*{channel}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{anchorBill.userId}"></label>
                        <span class="detail">
                            <input class="form-control" th:field="*{userId}" readonly="readonly"/>
                            <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{anchorBill.userName}"></label>
                        <span class="detail">
                            <input class="form-control" th:field="*{userName}" readonly="readonly"/>
                            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{anchorBill.amount}"></label>
                        <span class="detail">
                            <input class="form-control" th:field="*{amount}" readonly="readonly"/>
                            <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{anchorBill.recordTime}"></label>
                        <span class="detail">
                            <input class="form-control" th:field="*{recordTime}" readonly="readonly"/>
                            <span th:if="${#fields.hasErrors('recordTime')}" th:errors="*{recordTime}"></span>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body></html>