<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title th:text="#{livePossGift.detail}"></title>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/plugin.css" rel="stylesheet"/>
    <link href="css/swiper.min.css" rel="stylesheet"/>
    <link href="css/profit.css" rel="stylesheet"/>
    <link href="img/icon.png" rel="icon" type="image/x-icon"/>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/json2.js"></script>
    <script type="text/javascript" src="js/loading.js"></script>
    <script type="text/javascript" src="js/layer.js"></script><link href="css/layer.css" type="text/css" rel="styleSheet" id="layermcss"/>
    <script type="text/javascript" src="js/emoji.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/popodataime.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <style type="text/css">
    div.item{padding: .1rem 0;font-size: .12rem;border-bottom: solid 1px #e5e5e5;width: 100%;}
    label{width:150px;display: inline-block;}
    input,select{display: inline-block;margin-left: .05rem;padding: 0 .1rem;color: #7a1128;border: solid 1px #7a1128;
    	border-radius: 5px;height: .23rem;line-height: .23rem;font-size: .12rem;}
    </style>
</head>
<body>
<div class="content homepage">
    <header>
        <a href="liveGift" class="left"><i class="fa fa-chevron-left"></i></a>
        <div class="top-tit"><label th:text="#{livePossGift.detail}"/></div>
    </header>
    <div class="tb-box">
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="swiper-slide swiper-slide-active" style="width: 640px;">
                <form action="updateLivePossGift" th:object="${liveGift}" method="POST" onsubmit="return checkLiveGift();">
                    <div class="item">
                        <label th:text="#{liveGift.giftName}"></label>
                        <input type="hidden" th:field="*{id}"/>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{giftName}" maxlength="10" readonly="readonly"/>
                            <span th:if="${#fields.hasErrors('giftName')}" th:errors="*{giftName}"></span>
                        </span>
                    </div>             
                    
                    <div class="item">
                        <label th:text="#{liveGift.zero}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{zero}" maxlength="4"/>
                            <span th:if="${#fields.hasErrors('zero')}" th:errors="*{zero}"></span>
                        </span>
                    </div>
            
                    <div class="item">
                        <label th:text="#{liveGift.one}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{one}" maxlength="4"/>
                            <span th:if="${#fields.hasErrors('one')}" th:errors="*{one}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{liveGift.two}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{two}" maxlength="4"/>
                            <span th:if="${#fields.hasErrors('two')}" th:errors="*{two}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{liveGift.five}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{five}" maxlength="4"/>
                            <span th:if="${#fields.hasErrors('five')}" th:errors="*{five}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{liveGift.ten}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{ten}" maxlength="4"/>
                            <span th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{liveGift.twenty}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{twenty}" maxlength="4"/>
                            <span th:if="${#fields.hasErrors('twenty')}" th:errors="*{twenty}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{liveGift.fifty}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{fifty}" maxlength="4"/>
                            <span th:if="${#fields.hasErrors('fifty')}" th:errors="*{fifty}"></span>
                        </span>
                    </div>
                    
                    <div class="item">
                        <label th:text="#{liveGift.hundred}"></label>
                        <span class="detail">
                            <input class="form-control" type="text" th:field="*{hundred}" maxlength="4"/>
                            <span th:if="${#fields.hasErrors('hundred')}" th:errors="*{hundred}"></span>
                        </span>
                    </div>
                    
					<div style="text-align: center">
					<input type="submit" th:if="${operType} != 'add'" th:attr="value=#{operation.update}"/>
                    <input type="submit" th:if="${operType} == 'add'" th:attr="value=#{operation.add}"/>
                    <input type="hidden" id="operType" th:attr="value=${operType}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function checkLiveGift(){
    	var zero = $("#zero").val();
    	if(!/^\+?[0-9][0-9]*$/.test(zero)){
    		gm.alert("<label th:text='#{liveGift.zero}+#{alert.positive.integer}'/>", "<label th:text='#{btn.confirm}'/>", function(){$("#zero").focus();});
    		return false;
    	}
    	var one = $("#one").val();
    	if(!/^\+?[0-9][0-9]*$/.test(one)){
    		gm.alert("<label th:text='#{liveGift.one}+#{alert.positive.integer}'/>", "<label th:text='#{btn.confirm}'/>", function(){$("#one").focus();});
    		return false;
    	}
    	var two = $("#two").val();
    	if(!/^\+?[0-9][0-9]*$/.test(two)){
    		gm.alert("<label th:text='#{liveGift.two}+#{alert.positive.integer}'/>", "<label th:text='#{btn.confirm}'/>", function(){$("#two").focus();});
    		return false;
    	}
    	var five = $("#five").val();
    	if(!/^\+?[0-9][0-9]*$/.test(five)){
    		gm.alert("<label th:text='#{liveGift.five}+#{alert.positive.integer}'/>", "<label th:text='#{btn.confirm}'/>", function(){$("#five").focus();});
    		return false;
    	}
    	var ten = $("#ten").val();
    	if(!/^\+?[0-9][0-9]*$/.test(ten)){
    		gm.alert("<label th:text='#{liveGift.ten}+#{alert.positive.integer}'/>", "<label th:text='#{btn.confirm}'/>", function(){$("#ten").focus();});
    		return false;
    	}
    	var twenty = $("#twenty").val();
    	if(!/^\+?[0-9][0-9]*$/.test(twenty)){
    		gm.alert("<label th:text='#{liveGift.twenty}+#{alert.positive.integer}'/>", "<label th:text='#{btn.confirm}'/>", function(){$("#twenty").focus();});
    		return false;
    	}
    	var fifty = $("#fifty").val();
    	if(!/^\+?[0-9][0-9]*$/.test(fifty)){
    		gm.alert("<label th:text='#{liveGift.fifty}+#{alert.positive.integer}'/>", "<label th:text='#{btn.confirm}'/>", function(){$("#fifty").focus();});
    		return false;
    	}
    	var hundred = $("#hundred").val();
    	if(!/^\+?[0-9][0-9]*$/.test(hundred)){
    		gm.alert("<label th:text='#{liveGift.hundred}+#{alert.positive.integer}'/>", "<label th:text='#{btn.confirm}'/>", function(){$("#hundred").focus();});
    		return false;
    	}
    }
</script>
</body></html>