<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title th:if="${isAgent} == false" th:text="#{withdraw.title}"></title>
    <title th:if="${isAgent} == true" th:text="#{menu.withdrawAgent}"></title>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/plugin.css" rel="stylesheet"/>
    <link href="css/swiper.min.css" rel="stylesheet"/>
    <link href="css/profit.css" rel="stylesheet"/>
    <link href="img/icon.png" rel="icon" type="image/x-icon"/>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/json2.js"></script>
    <script type="text/javascript" src="js/loading.js"></script>
    <script type="text/javascript" src="js/layer.js"></script><link href="css/layer.css" type="text/css" rel="styleSheet" id="layermcss"/>
    <script type="text/javascript" src="js/emoji.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/popodataime.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <style type="text/css">
    div.item{padding: .1rem 0;font-size: .12rem;border-bottom: solid 1px #e5e5e5;width: 100%;}
    label{width:150px;display: inline-block;}
    input{display: inline-block;margin-left: .05rem;padding: 0 .1rem;color: #7a1128;border: solid 1px #7a1128;
    	border-radius: 5px;height: .23rem;line-height: .23rem;font-size: .12rem;}
    </style>
</head>
<body>
<div class="content homepage">
    <header>
        <a href="withdrawList?type=user" class="left" th:if="${isAgent} == false"><i class="fa fa-chevron-left"></i></a>
        <a href="withdrawList?type=agent" class="left" th:if="${isAgent} == true"><i class="fa fa-chevron-left"></i></a>
        <div class="top-tit">
        <label th:if="${isAgent} == false" th:text="#{withdraw.title}"/>
        <label th:if="${isAgent} == true" th:text="#{menu.withdrawAgent}"/>
        </div>
    </header>
    <div class="right"><span th:text="#{prompt.welcome}"></span><span th:text="${session.loginUser.name}"></span><span th:text="#{prompt.fullstop}"></span>
       	<span th:if="${session.loginType == 'agent'}"><span th:text="#{prompt.your.agent.level}"></span><span th:text="${session.loginUser.level}"></span><span th:text="#{prompt.comma}"></span></span>
       	<span th:text="#{prompt.your.coin.card}"></span><span th:text="${session.loginUser.coinCount}"></span><span th:text="#{prompt.fullstop}"></span>
    </div>
    <div class="tb-box">
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="swiper-slide swiper-slide-active" style="width: 640px;">
                  <div class="item">
                      <label th:if="${isAgent} == false" th:text="#{withdraw.toId}"></label>
                      <label th:if="${isAgent} == true" th:text="#{withdraw.toAgentId}"></label>                      
                      <span class="detail">
                          <input type="text" id="toUserId" maxlength="6"/>
                      </span>
                  </div>
                  
                  <div class="item">
                      <label th:text="#{withdraw.amount}"></label>
                      <span class="detail">
                          <input class="form-control" type="text" id="amount" maxlength="9"/> 
                      </span>
                  </div>
                  <input type="hidden" id="isAgent" th:attr="value=${isAgent}"/>
                  
				<div style="text-align: center">
                  <input type="submit" id="btnWithdraw" th:attr="value=#{operation.withdraw}"/>
                 </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnWithdraw").click(function(){
    	var toUserId = $("#toUserId").val();
    	if(toUserId == ""){
    		gm.alert("<label th:text='#{alert.withdraw.userid.empty}'/>");
    		return;
    	}
    	if(!/^\+?[1-9][0-9]*$/.test(toUserId)){
    		gm.alert("<label th:text='#{alert.userid.should.be.integer}'/>");
    		return;
    	}
    	var amount = $("#amount").val();
    	if(!/^\+?[1-9][0-9]*$/.test(amount)){
    		gm.alert("<label th:text='#{alert.positive.integer}'/>");
    		return;
    	}
    	var isAgent = $("#isAgent").val();
    	$("#btnWithdraw").attr("disabled", "disabled");
    	post("withdrawSubmit", {toUserId: toUserId, amount: amount, isAgent: isAgent}, function (ret) {

            if (ret.success == true) {
            	gm.alert("<label th:text='#{alert.withdraw.success}'/>");
            	setTimeout(function(){
            		if(isAgent == "true"){
            	 		window.location.href = "withdrawList?type=agent";
            		} else {
            			window.location.href = "withdrawList?type=user";
            		}
            	}, 500);
            }
            else {
                gm.alert(ret.message);
            }
            $("#btnWithdraw").removeAttr("disabled");
        });
    });
</script>
</body></html>